services:
   app:
      container_name: rl-etudes
      build:
         context: .
         dockerfile: Dockerfile
         # args:
            # NEXT_PUBLIC_WP_GRAPHQL: ${NEXT_PUBLIC_WP_GRAPHQL}
            # NEXT_PUBLIC_WP_REST: ${NEXT_PUBLIC_WP_REST}
            # REVALIDATE_TIME: ${REVALIDATE_TIME:-300}
      restart: unless-stopped
      ports:
         - "3007:3007"
      env_file:
         - .env
      networks:
         - web-network

networks:
   web-network:
      external: true
