@import "tailwindcss";

:root {
   --background: #ffffff;
   --foreground: #171717;
   --primary: #0000ac;
   --accent: #ffbe00;
}

@theme inline {
   --color-background: var(--background);
   --color-foreground: var(--foreground);
   --font-sans: var(--font-geist-sans);
   --font-mono: var(--font-geist-mono);
   --color-primary: var(--primary);
   --color-accent: var(--accent);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
@layer base {
   body {
      background: var(--background);
      color: var(--foreground);
      font-family: Arial, Helvetica, sans-serif;
   }

   .wrapper {
      max-width: 1280px;
      padding-inline: 5vw;
      margin-inline: auto;
   }

   .wrapper-small {
      max-width: 800px;
      padding-inline: 5vw;
      margin-inline: auto;
   }
   @media (width <= 1024px) {
      .wrapper,
      .wrapper-small {
         padding-inline: 3vw;
      }
   }
   @media (width <= 769px) {
      .wrapper,
      .wrapper-small {
         padding-inline: 20px;
      }
   }
}
